fastapi==0.109.2
uvicorn==0.27.1
pymupdf==1.24.1
langchain==0.1.16
langchain-groq==0.1.4
langchain-huggingface==0.0.3
langchain-community==0.0.34
faiss-cpu==1.8.0
python-multipart==0.0.9
numpy==1.26.4